@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>


<section class="section pt-5 top-slant-white2 relative-higher">
    <div class="container">
        <div class="row mb-5 justify-content-center" data-aos="fade">
            <div class="col-md-7 text-center heading-wrap">
                <h2 data-aos="fade-up">FONDA LA PILA</h2>
                <p data-aos="fade-up" data-aos-delay="100">  Biemvenido a Fonda la Pila, somos una pequeña empresa 100% mexicana dedicada a la elaboracion de alimentos como lo son: Hamburguesas, Tortas, Enchiladas, Papas a la francesa, tambien contamos con bebidas como: Cafe, Resfresco y Aguas.</p>
            </div>
        </div>
        <div class="row align-items-center mb-5">
            <div class="col-lg-4">
                <img src="~/img/cono3.jpg" alt="Free website template by Free-Template.co" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="200">
            </div>
            <div class="col-lg-4">
                <img src="~/img/cono1.jpg" alt="Free website template by Free-Template.co" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="300">
                <img src="~/img/cono2.jpg" alt="Free website template by Free-Template.co" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="400">
            </div>
            <div class="col-lg-4">
                <img src="~/img/cono4.jpg" alt="Free website template by Free-Template.co" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="500">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 ml-auto">
                <p>Fonda la Pila, fue inagurada un 20 de marzo del año de 2018, desde ese entonces contamos con el servicio de comida y ofrecemos al publico una variedad de productos de facil consumo a un precio accesible.</p>

                <p>Somos una Micro-Empresa 100 % Méxicana dedicada a la elbaracion de alimentos frescos y de facil consumo.</p>
            </div>
            <div class="col-md-6 ml-auto">
                <p>Fonda la Pila surgue debido a que se contaba con un local que se dejo de rentar por una estilista la cual lo usaba como estetica, debido a la zona le era dificil mantener los gastos que requeria el local asi como la mensualidad de la renta del local.</p>

                <p>El 20 de febrero se tomo la decision de adaptar dicho local a las necesidades y la infraestructura para convertirno en una fonda que venderia en un principio hamburguesas y papas a la francesa, conforme obtuvimos clientes se fueron agregando mas platillos al menu.</p>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light top-slant-white">

    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>COCINEROS</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="major-caousel js-carousel-1 owl-carousel">
                <div>
                    <div class="media d-block media-custom text-center">
                        <a href="adoption-single.html"><img src="~/img/person_1.jpg" alt="Image Placeholder" class="img-fluid"></a>
                        <div class="media-body">
                            <h3 class="mt-0 text-black">Luis Garcia Flores</h3>
                            <p class="lead">22 Años</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="media d-block media-custom text-center">
                        <a href="adoption-single.html"><img src="~/img/person_2.jpg" alt="Image Placeholder" class="img-fluid"></a>
                        <div class="media-body">
                            <h3 class="mt-0 text-black">Adrian Giles Alvarez</h3>
                            <p class="lead"> 45 Años</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="media d-block media-custom text-center">
                        <a href="adoption-single.html"><img src="~/img/person_3.jpg" alt="Image Placeholder" class="img-fluid"></a>
                        <div class="media-body">
                            <h3 class="mt-0 text-black">Ines Flores </h3>
                            <p class="lead">43 Años</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END slider -->
        </div>
    </div>
</section> <!-- .section -->