
@{
    ViewBag.Title = "Carrito";
}

<section class="section bg-light pt-0 relative-higher">

    <div class="clearfix mb-5 pb-5 ">
        <div class="container-fluid">
            <div class="row" data-aos="fade">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>CARRITO DE COMPRAS</h2>

                    <div class="container mb-5">
                        <div class="row justify-content-center">
                            <div class="col-md-12 text-center">
                                <div class="row">
                                    <div class="col-md-12 mb-3">

                                        <div class="conten-tabla">
                                            <table id="tabla-productos">
                                                <tr>
                                                    <th>ID</th>
                                                    <th>PRODUCTO</th>
                                                    <th>DESCRPCIÓN</th>
                                                    <th>FORMA DE ENTREGA</th>
                                                    <th>PRECIO</th>
                                                    <th>CANTIDAD</th>
                                                    <th>TOTAL</th>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td><img class="img-carrito" src="~/Img/lap_ac.png" alt=""><br><a href="#" title="Eliminar producto del carrito">Eliminar</a></td>
                                                    <td>Trota de Milanesa</td>
                                                    <td>Fonda la Pila</td>
                                                    <td>$ 40.00 <label for="">MX</label></td>
                                                    <td>1</td>
                                                    <td>$ 40.00</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td><img class="img-carrito" src="~/Img/lap_dell.png" alt=""><br><a href="#" title="Eliminar producto del carrito">Eliminar</a></td>
                                                    <td>Hamburguesa hawaiana</td>
                                                    <td>Fonda la Pila</td>
                                                    <td>$  40.00</td>
                                                    <td>1</td>
                                                    <td>$ 40.00</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td><img class="img-carrito" src="~/Img/lap_asus.png" alt=""><br><a href="#" title="Eliminar producto del carrito">Eliminar</a></td>
                                                    <td>Enchiladas Verdes</td>
                                                    <td>Fonda la Pila</td>
                                                    <td>$ 30.00</td>
                                                    <td>1</td>
                                                    <td>$ 30.00</td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td><img class="img-carrito" src="~/Img/lap_toshiba.png" alt=""><br><a href="#" title="Eliminar producto del carrito">Eliminar</a></td>
                                                    <td>Papas a la Francesa</td>
                                                    <td>Fonda la Pila</td>
                                                    <td>$ 25.00</td>
                                                    <td>2</td>
                                                    <td>$ 50.00</td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td><img class="img-carrito" src="~/Img/pc_lenovo.png" alt=""><br><a href="#" title="Eliminar producto del carrito">Eliminar</a></td>
                                                    <td>1 lt Agua Horchata</td>
                                                    <td>Fonda la Pila</td>
                                                    <td>$ 20.00</td>
                                                    <td>1</td>
                                                    <td>$ 20.00</td>
                                                </tr>
                                            </table>
                                            <p>. </p>
                                            <h3 id="tot">Total:</h3>
                                            <h3 id="total">TOTAL $ 180.00</h3>
                                            <p>. </p>
                                            <p>Estas a un paso de Comprar: <a class="linklog" href="login.html">  REALIZAR COMPRA </a></p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

