
@{
    ViewBag.Title = "Categorias";
}

<section class="section bg-light pt-0 bottom-slant-gray">

    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row" data-aos="fade">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>HAMBURGUESAS</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url(/img/ht.jpg);" data-aos="fade"></div>
                    <div class="text order-1">
                        <h3>Hamburguesa Tradicional</h3>
                        <p>Ingredientes: Lechuga, Jitomate, Jalapeños, Cebolla, Catshup, Moztaza, Mayonesa, Queso amarillo</p>
                        <p class="text-primary h3">$30.00</p>
                    </div>

                </div>

                <div class="sched d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url(/img/menudia1.jpg);" data-aos="fade"></div>
                    <div class="text">
                        <h3>Hamburguesa Hawaiana</h3>
                        <p>Ingredientes: Lechuga, Jitomate, Jalapeños, Cebolla, Catshup, Moztaza, Mayonesa, Jamon, Piña, Queso amarillo</p>
                        <p class="text-primary h3">$40.00</p>

                    </div>

                </div>

            </div>

            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url(/img/hm.jpeg);" data-aos="fade"></div>
                    <div class="text order-1">
                        <h3>Hamburguesa Mexicanita</h3>
                        <p>Ingredientes: Lechuga, Jitomate, Jalapeños, Cebolla, Catshup, Moztaza, Mayonesa, Queso Amarillo, Queso oaxaca, Jamon</p>
                        <p class="text-primary h3">$40.00</p>

                    </div>

                </div>

                <div class="sched d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url(/img/hp.jpg);" data-aos="fade"></div>
                    <div class="text">
                        <h3>Hamburguesa de pollo</h3>
                        <p>Ingredientes: Lechuga, Jitomate, Jalapeños, Cebolla, Catshup, Moztaza, Mayonesa</p>
                        <p class="text-primary h3">$30.00</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url(/img/hd.jpg);" data-aos="fade"></div>
                    <div class="text order-1">
                        <h3>Hamburgesa Doble</h3>
                        <p>Ingredientes: 2 Carnes,Lechuga, Jitomate, Jalapeños, Cebolla, Catshup, Moztaza, Mayonesa, Queso amarillo, Jamon,Piña</p>
                        <p class="text-primary h3">$50.00</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url(/img/hdt.jpg);" data-aos="fade"></div>
                    <div class="text order-1">
                        <h3>Hamburgesa Doble con Tosino</h3>
                        <p>Ingredientes: 2 Carnes,Lechuga, Jitomate, Jalapeños, Cebolla, Catshup, Moztaza, Mayonesa, Queso amarillo, Jamon,Piña</p>
                        <p class="text-primary h3">$55.00</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section> <!-- .section -->


<section class="section bg-light pt-0 bottom-slant-gray">

    <div class="col-md-12 mb-5">
        <div class="row justify-content-center">
            <ul class="list-unstyled footer-link">
                <li><a href="#">Inicio</a></li>
            </ul>
        </div>
    </div>

    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row" data-aos="fade">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>TORTAS</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url(/img/tj.jpg);" data-aos="fade"></div>
                    <div class="text order-1">
                        <h3>Torta de jamon</h3>
                        <p>Ingredientes: Lechuga, Jitomate, Jalapeños, Cebolla, Mayonesa, Jamon, Aguacate</p>
                        <p class="text-primary h3">$35.00</p>
                    </div>

                </div>

                <div class="sched d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url(/img/ts.jpg);" data-aos="fade"></div>
                    <div class="text">
                        <h3>Torta de Salchicha</h3>
                        <p>Ingredientes: Lechuga, Jitomate, Jalapeños, Cebolla, Mayonesa, Salchicha, Aguacate</p>
                        <p class="text-primary h3">$45.00</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url(/img/tm.jpg);" data-aos="fade"></div>
                    <div class="text order-1">
                        <h3>Torta de Milanesa</h3>
                        <p>Ingredientes: Lechuga, Jitomate, Jalapeños, Cebolla, Mayonesa,Milanessa, Aguacate<p>
                        <p class="text-primary h3">$40.00</p>
                    </div>

                </div>

                <div class="sched d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url(/img/th.jpg);" data-aos="fade"></div>
                    <div class="text">
                        <h3>Torta de Huevo</h3>
                        <p>Ingredientes: Lechuga, Jitomate, Jalapeños, Cebolla, Mayonesa, Huevo</p>
                        <p class="text-primary h3">$30.00</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url(/img/thc.jpg);" data-aos="fade"></div>
                    <div class="text order-1">
                        <h3>Torta de Huevo con Chorizo</h3>
                        <p>Ingredientes:Lechuga, Jitomate, Jalapeños, Cebolla, Mayonesa, Huevo, Chorizo</p>
                        <p class="text-primary h3">$35.00</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url(/img/tcu.jpg);" data-aos="fade"></div>
                    <div class="text order-1">
                        <h3>Torta Cubana</h3>
                        <p>Ingredientes: Lechuga, Jitomate, Jalapeños, Cebolla, Queso amarillo, Jamon, Aguacate, Milanesa, Pierna</p>
                        <p class="text-primary h3">$60.00</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section> <!-- .section -->



<section class="section bg-light pt-0 bottom-slant-gray">

    <div class="col-md-12 mb-5">
        <div class="row justify-content-center">
            <ul class="list-unstyled footer-link">
                <li><a href="#">Inicio</a></li>
            </ul>
        </div>
    </div>

    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row" data-aos="fade">
                <div class="col-md-12 text-center heading-wrap">
                    <h2> VARIEDAD </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url(/img/papas.jpg);" data-aos="fade"></div>
                    <div class="text order-1">
                        <h3>Papas a la francesa</h3>
                        <p>
                            Ingredientes:
                            Catsup
                            Mayonesa
                            Sal
                            Queso derretido
                        </p>
                        <p class="text-primary h3">$25.00</p>
                    </div>
                </div>
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url(/img/burritod.jpg);" data-aos="fade"></div>
                    <div class="text">
                        <h3>Burrito Deshebrada</h3>
                        <p>Ingredientes: Tortilla de arina, Carne de res, Jitomate, Chile morron, Guacamole</p>
                        <p class="text-primary h3">$45.00</p>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url(/img/burritoc.jpg);" data-aos="fade"></div>
                    <div class="text order-1">
                        <h3>Burrito carne asada</h3>
                        <p>Ingredientes: Tortilla de arina, Carne de res, Pico de gallo, Guacamole</p>
                        <p class="text-primary h3">$45.00</p>

                    </div>

                </div>

                <div class="sched d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url(/img/chimid.jpg);" data-aos="fade"></div>
                    <div class="text">
                        <h3>Chimichanga Deshebrada</h3>
                        <p>Ingredientes: Tortilla de arina, Carne de res, Jitomate, Chile morron, Guacamole, Crema</p>
                        <p class="text-primary h3">$50.00</p>

                    </div>

                </div>

            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url(/img/chimic.jpg);" data-aos="fade"></div>
                    <div class="text order-1">
                        <h3>Chimichanga Carne asada</h3>
                        <p>Ingredientes: Tortilla de arina, Carne de res, Jitomate, Chile morron, Guacamole, Crema</p>
                        <p class="text-primary h3">$50.00</p>
                    </div>

                </div>

                <div class="sched d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url(/img/flautas.jpg);" data-aos="fade"></div>
                    <div class="text">
                        <h3>Flautas</h3>
                        <p>Ingredientes: Salsa, Queso rallado, Aguacate</p>
                        <p class="text-primary h3">$20.00</p>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url(/img/maru.jpg);" data-aos="fade"></div>
                    <div class="text order-1">
                        <h3>Sopa maruchan preparada</h3>
                        <p>Ingredientes: Limon, Sal, Tenedor</p>
                        <p class="text-primary h3">$18.00</p>

                    </div>
                </div>
            </div>

        </div>

    </div>
</section> <!-- .section -->


<section class="section bg-light pt-0 bottom-slant-gray">
    <div class="col-md-12 mb-5">
        <div class="row justify-content-center">
            <ul class="list-unstyled footer-link">
                <li><a href="#">Inicio</a></li>
            </ul>
        </div>
    </div>

    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row" data-aos="fade">
                <div class="col-md-12 text-center heading-wrap">
                    <h2> BEBIDAS </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url(/img/br.jpg);" data-aos="fade"></div>
                    <div class="text order-1">
                        <h3>Refrescos Variedad</h3>
                        <p>Sabores: Cocacola, Manzanita, Pepsi, Mirinda</p>
                        <p class="text-primary h3">$15.00</p>
                    </div>

                </div>

                <div class="sched d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url(/img/bh.jpg);" data-aos="fade"></div>
                    <div class="text">
                        <h3>1 Lt Agua Horchata</h3>
                        <p>Ingredientes: Azucar, agua, colorante.</p>
                        <p class="text-primary h3">$20.00</p>
                    </div>

                </div>

            </div>

            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url(/img/bj.jpg);" data-aos="fade"></div>
                    <div class="text order-1">
                        <h3>1 lt Agua Jamaica</h3>
                        <p>Ingredientes: Jamaica, Azucar, agua, colorante.</p>
                        <p class="text-primary h3">$20.00</p>
                    </div>

                </div>

                <div class="sched d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url(/img/bb.png);" data-aos="fade"></div>
                    <div class="text">
                        <h3>Boing Variedad</h3>
                        <p>Sabores: Mango, Guayaba, Manzana, Uva</p>
                        <p class="text-primary h3">$15.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section> <!-- .section -->
