@model IdentitySample.Models.ApplicationUser

<section class="section bg-light py-5  bottom-slant-gray">

    <div class="clearfix mb-5 pb-5 ">
        <div class="container-fluid">
            <div class="row" data-aos="fade">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Eliminar Usuario</h2>

                    <h3>Desear Eliminar este usuario?</h3>
                    <div>
                        <h4>Usuario.</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.UserName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UserName)
                            </dd>
                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Eliminar" class="btn btn-lg btn-danger" /> |
                                @Html.ActionLink("Ver Lista", "Index")
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
