/*-----------------------Carrito de compras-----------------*/
.carrito-encabezado {
    margin-top: 60px;
    text-align: center;
    font-family: "Times New Roman";
    color: darkorange;
}

.conten-tabla {
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0px;
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
}

.btn-comprar-carrito {
    text-align: center;
    border-radius: 5px;
    width: auto;
    height: 40px;
    margin-top: 20px;
    font-size: 18px;
    background: #00a7de;
    border-color: #00a7de;
    color: white;
    position: relative;
    margin-bottom: 20px;
}

    .btn-comprar-carrito:hover {
        cursor: pointer;
        box-shadow: 0px 5px 3px rgba(0,0,0,0.5);
        background: #007ba3;
        border-color: #007ba3;
    }

.img-carrito {
    width: 100px;
    height: auto;
    background: none;
}

#tabla-productos {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: darkorange;
    box-shadow: 0px 15px 3px rgba(0,0,0,0.5);
}

    #tabla-productos td, #tabla-productos th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    #tabla-productos tr:nth-child(even) {
        background-color: darkorange;
    }

    #tabla-productos tr:hover {
        background-color: orange;
    }

    #tabla-productos th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background: DarkOrange;
        box-shadow: 0px 5px 3px rgba(0,0,0,0.5);
        color: white;
    }

#total {
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px;
    color: red;
    background: rgba(255, 255, 255,10);
    border-radius: 2px;
    position: absolute;
    margin-left: 280px;
    margin-bottom: 20px;
}

#tot {
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px;
    color: white;
    border-radius: 2px;
    position: absolute;
    margin-left: 210px;
    margin-bottom: 20px;
}
